.button_container {
  position: relative;
  display: flex;
  align-items: center;
}

.button_dot::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--accent);
  border-radius: 50%;
  position: absolute;
  left: -1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.weekdays button:first-child {
  grid-column: 1;
}
.weekdays button:nth-child(2) {
  grid-column: 3;
}
.weekdays button:nth-child(3) {
  grid-column: 5;
}
.weekdays button:nth-child(4) {
  grid-column: 7;
}
.weekdays button:nth-child(5) {
  grid-column: 2;
}
.weekdays button:nth-child(6) {
  grid-column: 4;
}
.weekdays button:last-child {
  grid-column: 6;
}
